.navbar.navbar-top
  .navbar-inner
    .container
      %a{:href => "index.html", :class => "brand"} Caravan
      .nav-collapse.collapse.pull-right
        %ul.nav
          %li
            %a{:href => "index.html"} Home
          %li
            %a{:href => "admin.html"} Admin Dashboard
          %li
            %a{:href => "blog.html"} Blog
          %li
            =link_to 'Source', 'https://github.com/awinabi/caravan'
          %li
            %a{:href => "about.html"} About