.navbar.navbar-top
  .navbar-inner
    .container
      %a{:href => "#", :class => "brand"} Caravan
      .nav-collapse.collapse.pull-right
        %ul.nav
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Overview
          %li
            %a{:href => "#"} Blog
          %li
            %a{:href => "#"} Source
          %li
            %a{:href => "#"} About