.span2.sidebar#left-sidebar
  %ul.nav.nav-pills.nav-stacked
    %li
      =link_to 'admin.html' do
        %i.icon-dashboard &nbsp;
        Dashboard
    %li
      =link_to 'posts.html' do
        %i.icon-list &nbsp;
        Posts
    %li
      =link_to 'new_post.html' do
        %i.icon-plus &nbsp;
        New Post