.span2.sidebar#left-sidebar
  %ul.nav.nav-pills.nav-stacked
    %li
      %a{:href => "admin.html"}
        %i.icon-dashboard &nbsp;
        Dashboard
    %li
      %a{:href => "posts.html"}
        %i.icon-list &nbsp;
        Posts
    %li
      %a{:href => "new_post.html"}
        %i.icon-plus &nbsp;
        New Post