---
layout: admin/layout
---


.row-fluid
  .span2.sidebar#left-sidebar
    %ul.nav.nav-pills.nav-stacked
      %li.active
        =link_to '#' do
          %i.icon-dashboard &nbsp;
          Dashboard
      %li
        =link_to '#' do
          %i.icon-list &nbsp;
          Posts
      %li
        =link_to '#' do
          %i.icon-plus &nbsp;
          New Post
  .span9#dummy-content
    %p Work in progress.