---
layout: admin/layout
---


.row-fluid
  = partial "sidebar"
  .span10
    #dashboard-content
      .titlebar
        .row-fluid
          .span6
            %h3.title Post Analytics
          .span6
            .daterange-selection.pull-right
              =link_to '#' do
                24 April, 2013 - 24 May, 2013
                %i.icon-arrow-down
      .page-views
      .metric-links
        .row-fluid
          .span6
          .span6
      .secondary-metrics
        .row-fluid
          .span6
          .span6