.jumbotron
  %h1
    %span.logo
      %span.ca Ca
      %span.ra ravan
  %p.lead Bootstrap template starter with Middleman
  =link_to "Fork It On Github", 'https://github.com/awinabi/caravan', :class => 'btn btn-large btn-default'
  /%a.btn.btn-large.btn-success{:href => "#"} Fork It on GitHub

.hseparator

.row-fluid
  .span4.pfeature
    %h3 
      %i.icon-bolt
      Batteries Included
    %p Bootstrap, Jquery, Font-Awesome frameworks included. Start customizing them for your own templates.

  .span4.pfeature
    %h3 
      %i.icon-tasks
      Multiple Layouts
    %p Get multiple layouts, embed partial html "components" and much more.

  .span4.pfeature
    %h3
      %i.icon-cogs
      Use Middleman
    %p= "Middleman is a blessing for Ruby / HAML / SASS developers. Code less, generate more. For intricacies refer #{link_to 'Middleman Docs', 'http://middlemanapp.com/'}."


