---
layout: admin/layout
---


.row-fluid.admin-wrapper
  = partial "sidebar"
  .span10.admin-content
    #newpost-content
      .titlebar
        .row-fluid
          .span6
            %h3.title New Post
          .span6
            .current-time.pull-right

      .newpost-content
        .row-fluid
          .span12.newpost-form
            %form
              %input.input-block-level{:type=>"text", :placeholder=>"Title"}
              %textarea.input-block-level{:placeholder=>"start typing ..."}
              .actionbuttons.pull-right
                %button.btn.btn-success.btn-large Publish

            %br
            %br
            %br